.env
venv
Data/Scraped/*
!Data/Scraped/.gitkeep
Data/Cleaned/*
!Data/Cleaned/.gitkeep
Data/Schemas/*
!Data/Schemas/.gitkeep
Data/Validated_Schemas/*
!Data/Validated_Schemas/.gitkeep
Data/audio/*
!Data/audio/.gitkeep
Data/links/links.txt
queries.txt
